<div class="wrapper">
    <div class="dashboard">
        <div class="navtools">
            <ul>
                <li id="searchli">
                    <div class="input-group">
                      <form class="form-inline" id="form" action="<%= spots_path %>" method="get">
                        <button id="map-search-button"><span class="input-group-addon" id="basic-addon1"><span class=" glyphicon glyphicon-search" aria-hidden="true"></span></span></button>
                        <%= text_field_tag :search, params[:search], id: "search-input", class: "form-control", placeholder: "Search..." %>
                      </form>
                    </div>
                </li>
                <li id="findmebutton"><span class=" glyphicon glyphicon-globe" aria-hidden="true" style="font-size: 22px;"></span> <p>Find Me</p></li>
                <li><span class="glyphicon glyphicon-home" aria-hidden="true" style="font-size: 22px;"></span> <%= link_to ' Home ', root_path, :class => 'none' %> </li>
                
                <% if user_signed_in? %> 
                
                <li><span class="glyphicon glyphicon-user" aria-hidden="true" style="font-size: 22px;"></span> <%= link_to ' Profile ', show_user_path(current_user.username), :class => 'none' %> </li>
                <% else %>
                
                <li><span class="glyphicon glyphicon-user" aria-hidden="true" style="font-size: 22px;"></span> <%= link_to " Login ", new_user_session_path, :class => 'none'  %> </li>
                
                <% end %>
                
                
                <li id="fullscreenbutton"><span class="glyphicon glyphicon-fullscreen" aria-hidden="true" style="font-size: 22px;"></span> <p>Hide</p></li>
                <li> <p>BOMBHILLS</p></li>
            </ul>
        </div>
    </div>
    <div id='myMap' oncontextmenu="return false">
        <div class="hamburgerbutton">
            <span class="glyphicon glyphicon-menu-hamburger" id="hamburgerbutton" aria-hidden="true" style="font-size: 50px;"></span>
        </div>
        <div class="alert alert-info" style="background: #2A83C6;color: #FFF;border-color: #2A83C6;">
          <a href="#" class="close" style="padding-left: 10px" data-dismiss="alert" aria-label="close">&times;</a>
          <strong>Hey!</strong> Right-click or hold to add a location.
        </div>
    </div>
</div>

<%= render 'spots/form' %>
<%= render 'spots/form_error' %>
