<div class="wrapper spots-index">
  <div class="dashboard">
    <div class="nav-tools">
      <ul>
        <li id="dash-title"><%= link_to ' BOMBHILLS ', root_path, :class => 'none' %></li>
        <li id="search-li">
          <div class="input-group">
            <%= form_tag(spots_path, method: "get", id: "form", class: "form-inline") do %>
              <%= text_field_tag :search, params[:search], id: "search-input", class: "form-control", placeholder: "search" %>
              <%= submit_tag "Search", name: nil, id: "map-search-btn", class: "btn btn-default" %>
            <% end %>
          </div>
        </li>
        <li id="find-me-btn">
          <p>find me</p>
        </li>
        <%if user_signed_in? %>
          <li data-toggle="modal" data-target="#spot-modal" id="spots-modal-link">
            <p>my spots</p>
          </li>
        <% end %>
        <%if user_signed_in? %>
          <li>
            <p>
              <%= link_to ' profile ', show_user_path(current_user.username) %></p>
          </li>
        <%else %>
          <li>
            <p><%= link_to " login ", new_user_session_path %></p>
          </li>
        <%end %>
        <li>
          <p><%= link_to 'discover', posts_path %></p>
        </li>
        <li id="fullscreen-btn">
          <p>hide</p>
        </li>
      </ul>
    </div>
  </div>
  <div id="map-id">
    <div class="hamburger-btn">
      <span aria-hidden="true" class="glyphicon glyphicon-align-left" id="hamburger-btn"></span>
    </div>
    <div class="alert alert-info map-alert">
      <a aria-label="close" class="close" data-dismiss="alert" href="">&times;</a>
      Right-click or hold to add a location.
    </div>
  </div>
</div>

<%= render 'spots/form' %>
<% if user_signed_in? %>
  <%= render partial: 'layouts/spots_modal', locals: { user: current_user } %>
<% end %>
<%= render 'spots/form_error' %>

<!-- Modal -->
<div id="report-modal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-md">
    <%= render template: 'messages/new', locals: { subject: 'Spot Report' } %>
  </div>
</div>
