<div class="wrapper">
    <div class="dashboard">
        <div class="navtools">
            <ul>
                <li id="searchli">
                    <div class="input-group">
                      <form class="form-inline" id="form" action="<%= spots_path %>" method="get">
                        <%= text_field_tag :search, params[:search], id: "search-input", class: "form-control", placeholder: "Search..." %>
                      </form>
                    </div>
                </li>
                <li id="findmebutton"><span class=" glyphicon glyphicon-globe" aria-hidden="true" style="font-size: 22px;"></span> <p>Find Me</p></li>
              <li><span class="glyphicon glyphicon-home" aria-hidden="true" style="font-size: 22px;"></span> <p><%= link_to ' Home ', root_path, :class => 'none' %></p> </li>
                
                <% if user_signed_in? %> 
                
              <li><span class="glyphicon glyphicon-user" aria-hidden="true" style="font-size: 22px;"></span> <p><%= link_to ' Profile ', show_user_path(current_user.username) %></p> </li>
                <% else %>
                
              <li><span class="glyphicon glyphicon-user" aria-hidden="true" style="font-size: 22px;"></span> <p><%= link_to " Login ", new_user_session_path %></p> </li>
                
                <% end %>
                
                
                <li id="fullscreenbutton"><span class="glyphicon glyphicon-fullscreen" aria-hidden="true" style="font-size: 22px;"></span> <p>Hide</p></li>
            </ul>
        </div>
    </div>
    <div id='myMap' oncontextmenu="return false">
        <div class="hamburgerbutton">
            <span class="glyphicon glyphicon-menu-hamburger" id="hamburgerbutton" aria-hidden="true" style="font-size: 50px;"></span>
        </div>
        <div class="alert alert-info" style="background: #0166FF;color: #FFF;border-color: #2A83C6;">
          <a href="#" class="close" style="padding-left: 10px" data-dismiss="alert" aria-label="close">&times;</a>
          <strong>Hey!</strong> Right-click or hold to add a location.
        </div>
    </div>
</div>
<div class="meetups">
  <span class="glyphicon glyphicon-remove" id="closemeetupsbutton" aria-hidden="true" style="font-size: 35px;" ></span>
  <h1>meetups</h1>
  <h3>spot name</h3>
  <ul id="meetupstime">
    <li>time</li>
    <li>date</li>
  </ul>
  <h3>attendees</h3>
  <div class="form-group">
    <select class="form-control" id="sel1" style="width: 200px;margin-left: 20px;">
      <option>username</option>
      <option>username</option>
      <option>username</option>
      <option>username</option>
    </select>
  </div>
  
  
  <button type="button" class="btn btn-success" style="margin-left: 20px;">Join</button>
  <button type="button" class="btn btn-danger">Leave</button>
  
  
  <h3>nothing planned?</h3>
  <button type="button" class="btn btn-primary btn-lg" style="margin-left: 20px;border: none;background: #FFF;color:#000;">Create</button>
</div>

<%= render 'spots/form' %>
<%= render 'spots/form_error' %>
