<div class="wrapper">
  <div class="dashboard">
    <div class="navtools">
      <ul>
        <li id="dashtitle"><%= link_to ' bombhills ', root_path, :class => 'none' %></li>
        <li id="searchli">
          <div class="input-group" style="padding-right: 0px;padding-top: 15px;">
            <form class="form-inline" id="form" action="<%= spots_path %>" method="get">
              <%= text_field_tag :search, params[:search], id: "search-input", class: "form-control", placeholder: "search" %>
              <button id='map-search-button' hidden>Search</button>
            </form>
          </div>
        </li>
        <li id="findmebutton">
          <p>find me</p>
        </li>
        <%if user_signed_in? %>
          <li data-toggle="modal" data-target="#spotModal" id="spotsModalLink">
            <p>spots</p>
          </li>
        <% end %>
        <%if user_signed_in? %>
          <li>
            <p>
              <%= link_to ' profile ', show_user_path(current_user.username) %></p>
          </li>
        <%else %>
          <li>
            <p><%= link_to " login ", new_user_session_path %></p>
          </li>
        <%end %>
        <li>
          <p><%= link_to 'discover', posts_path %></p>
        </li>
        <li id="fullscreenbutton">
          <p>Hide</p>
        </li>
      </ul>
    </div>
  </div>
  <div id='mapid'>
    <div class="hamburgerbutton">
      <span aria-hidden="true" class="glyphicon glyphicon-align-left" id=
        "hamburgerbutton" style="font-size: 40px;"></span>
    </div>
    <div class="alert alert-info map-alert" style="background: #0B4CD6;color: #FFF;border-color: #0B4CD6;">
      <a aria-label="close" class="close" data-dismiss="alert" href="" style="padding-left: 10px;color: #FFF;font-size: 24px;">&times;</a>
      Right-click or hold to add a location.
    </div>
  </div>
</div>

<%= render 'spots/form' %>
<% if user_signed_in? %>
  <%= render partial: 'layouts/spots_modal', locals: { user: current_user } %>
<% end %>
<%= render 'spots/form_error' %>

<!-- Modal -->
<div id="reportModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-md">

    <%= render template: 'messages/new', locals: { subject: 'Spot Report' } %>
  </div>
</div>
