<p id="notice"><%= notice %></p>

<div class="meetup">
  <p>
    <strong>Difficulty:</strong>
    <%= @spot.difficulty%>
  </p>

  <p>
    <strong>Latitude:</strong>
    <%= @spot.latitude %>
  </p>

  <p>
    <strong>Longitude:</strong>
    <%= @spot.longitude %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @spot.description %>
  </p>

  <p>
    <strong>User:</strong>
    <%= @spot.user.email %>
  </p>
  
  
<%= link_to 'Edit', edit_spot_path(@spot) %>
<%= link_to 'Back', spots_path %>
  
</div>

