<p id="notice"><%= notice %></p>

<div class="meetup">

<%= link_to 'x', spots_path %>

  <div class="meetupcontent">
    <p>
      <strong>Difficulty</strong>
      <%= @spot.difficulty%>
    </p>

    <p>
      <strong>Description</strong>
      <%= @spot.description %>
    </p>

    <p>
      <strong>Created by</strong>
      <%= @spot.user.username %>
    </p>


  <%= link_to 'Edit', edit_spot_path(@spot) %>

  </div>

</div>

