<%= render 'layouts/navbar' %>

<div class="show-spot-container">
  <div class="side-image-container random-image-<%= rand(1..5) %> hidden-xs">
  </div>

  <div class="menu-container">
    <div class="menu-child spot-info">
      <span class="glyphicon glyphicon-pushpin"></span>
      <p>DETAILS</p>
    </div>
    <div class="menu-child spot-meetups active">
      <span class="glyphicon glyphicon-user"></span>
      <p>MEETUPS</p>
    </div>
    <div class="menu-child spot-posts">
      <span class="glyphicon glyphicon-camera"></span>
      <p>POSTS</p>
    </div>
    <div class="menu-child spot-other">
      <span class="glyphicon glyphicon-comment"></span>
      <p>COMMENT</p>
    </div>
  </div>

  <div class="spot-info-container">
    <div class="spot-info-content show-spot-content">
      <h1>
        <%= @spot.title %>
      </h1>
      <h6>
        <%= @spot.difficulty %>
      </h6>

      <p>
        <%= @spot.description %>
      </p>
      <p>
        <mark>Traffic :</mark>
        <%= @spot.traffic%>
      </p>
    </div>

    <div class="spot-meetups-content show-spot-content" style="display:none;">
      <% if @spot.meetups.any? %>
        <% @spot.meetups.each do |meetup| %>
          <h4>
            <%= link_to meetup.title, spot_meetup_path(meetup) %>
          </h4>
          <p>
            <%= meetup.description %>
          </p>
          <p>
            <%= meetup.attending_users.count %> users coming
          </p>
          <p>
            <%= meetup.time %>
          </p>
        <% end %>
      <% else %>
        <p>No meetups are currently setup for this spot, why not make one?</p> </br>
      <% end %>
      <a>create meetup</a>
    </div>

    <div class="spot-posts-content show-spot-content" style="display:none;">
      <% if @spot.posts.any? %>
        <% @spot.posts.each_slice(2) do |posts| %>
          <div class="row">

            <% posts.each do |post| %>
              <div class="col-sm-12 col-md-12" id="thumbnail-container">
                <div class="thumbnail">
                  <% if post.type == "ImagePost" %>
                    <%= image_tag post.image.url(:medium) %>
                  <% else %>
                    <%= embed post.video_url %>
                  <% end %>
                  <div class="caption">
                    <h3><%= post.title %></h3>
                    <p><%= post.description %></p>
                    <p>
                      <%= link_to 'User', show_user_path(post.user.username), :class => 'btn btn-primary', id: 'user-btn' %>
                      <% if post.spot %>
                        <%= link_to 'Find', spots_path(id: post.spot.id), class: 'btn btn-default' %>
                      <% end %>
                    </p>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      <% else %>
        No posts
      <% end %>
    </div>

    <div class="spot-other-content show-spot-content" style="display:none;">

    </div>
  </div>

</div>

