<% title @spot.title %>
<%= render 'layouts/navbar' %>

<div class="show-spot-container">
  <div class="side-image-container random-image-<%= rand(1..5) %> hidden-xs">
  </div>

  <div class="menu-container">
    <div class="menu-child spot-info active">
      <span class="glyphicon glyphicon-pushpin"></span>
      <p>DETAILS</p>
    </div>
    <div class="menu-child spot-meetups">
      <span class="glyphicon glyphicon-user"></span>
      <p>MEETUPS</p>
    </div>
    <div class="menu-child spot-posts">
      <span class="glyphicon glyphicon-camera"></span>
      <p>POSTS</p>
    </div>
  </div>

  <div class="spot-info-container">
    <div class="spot-info-content show-spot-content" id="spot-info-content">
      <div class="content-container">
        <h1>
          <%= @spot.title %>
        </h1>
        <p>
          <%= @spot.description %>
        </p>
        <p>
          <mark>Difficulty:</mark>
          <%= @spot.difficulty %>
        </p>
        <p>
          <mark>Traffic:</mark>
          <%= @spot.traffic%>
        </p>
      </div>
      <div class="comments-container">
        <h2>
          Comments
        </h2>
        <%= react_component('Comments', { resource: JSON.parse(render(template: 'spots/show.json.jbuilder')), commentableType: 'Spot', currentUser: current_user }) %>
      </div>
    </div>

    <div class="spot-meetups-content show-spot-content" style="display:none;">
      <h1>
        Upcoming Meetups for <%= @spot.title %>
    </h1>
    <%= link_to 'All meetups', spot_meetups_path(@spot) %>
    <% if @spot.meetups.any? %>
      <div class="meetups-list">
        <% @spot.meetups.each do |meetup| %>
          <div class="meetups-list-item">
            <h2>
              <%= link_to spot_meetup_path(@spot, meetup) do %>
                <%= meetup.title %>
              <% end %>
            </h2>
            <p class="time">
              <%= distance_of_time_in_words_to_now(meetup.time) %> on <%= meetup.time.strftime("%A %B %d %Y %I:%M %p %Z") %>
            </p>
            <p class="description">
              <%= meetup.description %>
            </p>
            <% if meetup.meetup_attendees.size > 0 %>
              <p class="count">
                <%= meetup.meetup_attendees.size %> attendees
              </p>
            <% end %>
            <% unless meetup == @spot.meetups.last %>
              <hr>
            <% end %>
          </div>
        <% end %>
      </div>
    <% else %>
      <p>
        No meetups for this spot, why not create one?
      </p>
    <% end %>
  </div>

  <div class="spot-posts-content show-spot-content" style="display:none;">
    <% if @spot.posts.any? %>
      <% @spot.posts.each_slice(2) do |posts| %>
        <div class="row">

          <% posts.each do |post| %>
            <div class="col-sm-6 col-md-6">
              <div class="thumbnail">
                <% if post.type == "ImagePost" %>
                  <%= image_tag post.image.url(:medium) %>
                <% else %>
                  <%= embed post.video_url %>
                <% end %>
                <div class="caption">
                  <h3>
                    <%= link_to post_path(post) do %>
                      <%= post.title %>
                    <% end %>
                  </h3>
                  <p><%= post.description %></p>
                  <p>
                    <%= link_to 'User', show_user_path(post.user), :class => 'btn btn-primary', id: 'user-btn' %>
                    <% if post.spot %>
                      <%= link_to 'Find', spots_path(id: post.spot.id), class: 'btn btn-default' %>
                    <% end %>
                  </p>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    <% else %>
      No posts
    <% end %>
  </div>
</div>
