<%= render 'layouts/navbar' %>

<div class="meetup-form-container container">
  <h1>Editing <%= @meetup.title %> Meetup</h1>

  <%= render 'form' %>
  <p><%= button_to "Delete", spot_meetup_path(@spot, @meetup), data: { confirm: "Are you sure?", disable_with: 'Deleting' }, method: :delete, class: 'btn btn-danger' %></p>

  <%= link_to 'Show', spot_meetup_path(@spot, @meetup) %>
  <%= link_to 'Back', spot_meetups_path(@spot) %>
</div>
