<div class="meetups">
  <%= render 'layouts/navbar' %>

  <p id="notice"><%= notice %></p>

  <h1><%= @spot.title %>'s Meetups</h1>

  <% if @meetups.any? %>
    <% @meetups.each do |meetup| %>
      <%= meetup.title %> </br>
      <%= meetup.description %> </br>
      <%= meetup.time %> </br>
      <%= meetup.spot.title %> </br>
      <%= meetup.user.username %>
  <%= link_to 'More Info', spot_meetup_path(@spot, meetup), class: 'meetups-btn' %>
    <% end %>
  <% else %>
    <p>
      No meetups for this spot, why not create one?
    </p>
  <% end %>

  <%= link_to 'New Meetup', new_spot_meetup_path, class: 'meetups-btn' %>

</div>
