<p id="notice"><%= notice %></p>

<h1>Listing Meetups</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Time</th>
      <th>Spot</th>
      <th>Owner</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @meetups.each do |meetup| %>
      <tr>
        <td><%= meetup.title %></td>
        <td><%= meetup.description %></td>
        <td><%= meetup.time %></td>
        <td><%= meetup.spot.title %></td>
        <td><%= meetup.owner.username %></td>
        <td><%= link_to 'Show', spot_meetup_path(@spot, meetup) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Meetup', new_spot_meetup_path %>
