<%= render 'layouts/navbar' %>

<div class="meetups">


  <p id="notice"><%= notice %></p>

  <p>
    <strong>Title:</strong>
    <%= @meetup.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @meetup.description %>
  </p>

  <p>
    <strong>Time:</strong>
    <%= @meetup.time %>
  </p>

  <p>
    <strong>Spot:</strong>
    <%= @meetup.spot.title %>
  </p>

  <p>
    <strong>Owner:</strong>
    <%= @meetup.user.username %>
  </p>

  <p>
    <strong>Number of meetup attendees:</strong>
    <%= @meetup.meetup_attendees.count %>
    <% if user_signed_in? %>
      <%= react_component('AttendMeetup', meetup: @meetup, attending: user_attending_meetup?(@meetup, current_user)) %>
    <% end %>
  </p>

  <% if @meetup.meetup_attendees.any? %>
    <%= react_component('MeetupAttendeesDropdown', attendees: @meetup.meetup_attendees.map{|ma| ma.user.username}) %>
  <% end %>

  <% if @meetup.user == current_user %>
    <%= link_to 'Edit', edit_spot_meetup_path(@meetup) %>
  <% end %>
  <%= link_to 'Back', spot_meetups_path %>

</div>
