<% title @meetup.title %>
<%= render 'layouts/navbar' %>

<div class="meetup-show-container container">


  <h1>
    <%= @meetup.title %>
  </h1>

  <hr>

  <p class="description">
    <%= @meetup.description %>
  </p>

  <p>
    <strong>When:</strong>
    <%= @meetup.time.strftime("%A %B %d %Y %I:%M %p %Z")  %>
  </p>

  <p>
    <strong>Spot:</strong>
    <%= link_to @meetup.spot.title, spot_path(@meetup.spot) %>
  </p>

  <p>
    <strong>Meetup creator:</strong>
    <%= link_to @meetup.user.username, show_user_path(@meetup.user.username) %>

  </p>

  <p>
    <strong>Attendees:</strong>
    <%= @meetup.meetup_attendees.count %>
    <% if user_signed_in? %>
      <%= react_component('AttendMeetup', meetup: @meetup, attending: user_attending_meetup?(@meetup, current_user)) %>
    <% end %>
  </p>

  <% if @meetup.meetup_attendees.any? %>
    <%= react_component('MeetupAttendeesDropdown', attendees: @meetup.meetup_attendees.map{|ma| ma.user.username}) %>
  <% end %>

  <%= link_to 'Back', spot_meetups_path %>
  <% if can_edit(current_user, @meetup) %>
    <%= link_to 'Edit Meetup', edit_spot_meetup_path(@meetup) %>
  <% end %>

</div>
