<div class="meetups">

  <p id="notice"><%= notice %></p>

  <p>
    <strong>Title:</strong>
    <%= @meetup.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @meetup.description %>
  </p>

  <p>
    <strong>Time:</strong>
    <%= @meetup.time %>
  </p>

  <p>
    <strong>Spot:</strong>
    <%= @meetup.spot.title %>
  </p>

  <p>
    <strong>Owner:</strong>
    <%= @meetup.user.username %>
  </p>

  <%= link_to 'Back', spot_meetups_path %>

</div>
