<div class="media">
  <div class="media-left">
    <%= link_to show_user_path(conversation.messages.last.sender) do %>
      <%= image_tag conversation.messages.last.sender.avatar.url(:thumb), class: 'media-object message-avatar' %>
    <% end %>
  </div>
  <div class="media-body">
    <h4 class="media-heading">
      <%= conversation.recipients.select { |user| user != current_user }.map(&:username).to_sentence %> <br>
      <small><b>Subject: </b><%= conversation.subject %></small><br>
      <small><b>Date: </b><%=  conversation.messages.last.created_at.strftime("%A, %b %d, %Y at %I:%M%p") %></small>
    </h4>
    <%= truncate conversation.messages.last.body, length: 145 %>
    <% if conversation.receipts_for(current_user).any?{|r| r.is_unread? } %>
      <%= link_to "View Unread", conversation_path(conversation)  %>
    <% else %>
      <%= link_to "View", conversation_path(conversation)  %>
    <% end %>
  </div>
</div>
