<!-- add image modal -->
<div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Upload</h4>
      </div>
      <div class="modal-body">
        <%= form_for Post.new, url: posts_path, html: { multipart: true } do |f| %>

          <label for="usr">File:</label>
          <%= f.file_field :image %>

          <%= f.label :title, "Title:" %>
          <%= f.text_field :title, {class: 'form-control', id:'usr'} %>

          <%= f.label :description, "Description:" %>
          <%= f.text_area :description, {class: 'form-control', rows: '3', id: 'comment'}%>

          <%= f.label :spot_id, "Tag a spot" %>
          <%= f.collection_select :spot_id, Spot.all, :id, :title, { include_blank: true }, { class: 'form-control', id: 'sel1' } %>

          <%= f.submit class: 'submitimg' %>

        <% end %>
      </div>
    </div>
  </div>
</div>
