
<!-- Spots Modal -->
<div class="modal fade" id="spotModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document" id="userspotsmodal-dialog">
    <div class="modal-content">
      <div class="modal-body" id="spots-modal-body">
        <div id="left">
          <ul>
            <li id="spotsbutton"><span aria-hidden="true" class="glyphicon glyphicon-map-marker" style=
                "font-size: 50px;"></span></li>
            <li id="spotseditbutton"><span aria-hidden="true" class="glyphicon glyphicon-edit" style=
                "font-size: 50px;"></span></li>
          </ul>
        </div>
        <div id="right">
          <button type="button" class="close" data-dismiss="modal" style="color: #FFF;margin-bottom: 10px;">&times;</button>
          <div class="userspots">
            <div class="form-group">
              <%= select_tag "view_delete_spot", options_for_select(@user.spots.map{ |s| [s.title, s.id ]}), { class: 'form-control', id: 'sel1' } %>
            </div>
            <ul>
              <li id="modal-view-spot">view</li>
            </ul>
          </div>
          <% if current_user == @user and @user.spots.any? %>
            <div class="usersspotsedit">
              <form id="users-spots-edit-form">
                <div class="form-group">
                  <%= select_tag "spot_id", options_for_select(@user.spots.map{ |s| [s.title, s.id ]}), { class: 'form-control', id: 'sel1' } %>
                </div>
                <div class="form-group">
                  <%= select_tag "difficulty", options_for_select(difficulties, @user.spots.first.difficulty), { class: 'form-control', id: 'sel1' } %>
                </div>
                <div class="form-group">
                  <input name="title" type="text" class="form-control" id="usr" value="<%= @user.spots.first.title %>">
                </div>
                <div class="form-group">
                  <textarea name="description" class="form-control" rows="2" id="comment" placeholder="description"><%= @user.spots.first.description %></textarea>
                </div>
                <div class="text-center">
                  <button type="button" class="btn btn-default" id="modal-update-button">Update</button>
                  <%= button_to 'Delete', @user.spots.first, method: :delete, date: { confirm: 'Are you sure?' }, id: 'modal-delete-spot', class: 'btn btn-default' %>
                </div>
              </form>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
