<!-- header --> 

<div class="profileheader">
    <h2> Hi! </h2>
    <%= image_tag 'me.jpg',:class => 'profileimg'  %>
    <h1> Alec Sheridan </h1>
    <p> never stay complacent. </p>
</div>
<div class="supporting">
    <ul>
        <li><span class="glyphicon glyphicon-send" aria-hidden="true" style="font-size: 3em;"></span></li>
        <li><span class="glyphicon glyphicon-user" aria-hidden="true" style="font-size: 3em;"></span></li>
        <li><span class="glyphicon glyphicon-map-marker" aria-hidden="true" style="font-size: 3em;"></span></li>
    </ul>
</div>
<div class="images">
    <h1> Photos </h1>
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-md-4">
                <%= image_tag 'one.jpg',:class => 'img-responsive'  %>
            </div>
            <div class="col-sm-4 col-md-4">
                <%= image_tag 'two.jpg',:class => 'img-responsive'  %>
            </div>
            <div class="col-sm-4 col-md-4">
                <%= image_tag 'three.jpg',:class => 'img-responsive'  %>
            </div>
        </div>
            
        <div class="row">
            <div class="col-sm-4 col-md-4">
                <%= image_tag 'four.jpg',:class => 'img-responsive'  %>
            </div>
            <div class="col-sm-4 col-md-4">
                <%= image_tag 'five.jpg',:class => 'img-responsive'  %>
            </div>
            <div class="col-sm-4 col-md-4">
                <%= image_tag 'six.jpg',:class => 'img-responsive'  %>
            </div>
        </div>
            
        <div class="row">
            <div class="col-sm-4 col-md-4">
                <%= image_tag 'seven.jpg',:class => 'img-responsive'  %>
            </div>
            <div class="col-sm-4 col-md-4">
                <%= image_tag 'person.jpg',:class => 'img-responsive'  %>
            </div>
            <div class="col-sm-4 col-md-4">
            </div> 
        </div>
    </div>
</div>


<!-- keeping for reference 

Username: <%= @user.username %>
<br>
Email: <%= @user.email %>
<br>
Last sign in at: <%= @user.last_sign_in_at %>
<br>
<% if @user.locations.any? %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>
          Title
        </th>
        <th>
          Description
        </th>
        <th>
          Difficulty
        </th>
        <th>
          Lat
        </th>
        <th>
          Long
        </th>
      </tr>
    </thead>
    <tbody>
    <% @user.locations.each do |location| %>
      <tr>
        <td>
          <%= location.title %>
        </td>
        <td>
          <%= location.description %>
        </td>
        <td>
          <%= location.difficulty %>
        </td>
        <td>
          <%= location.latitude %>
        </td>
        <td>
          <%= location.longitude %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>

--!>
