<!-- header --> 

<div class="profileheadercontainer">
    <div class="profilenav">
        <div class="row">
            <div class="col-md-12">
                <ul>
                    <li><%= link_to ' home', root_path, id: 'homebutton' %></li>
                    <li><%= link_to ' map', spots_path, id: 'spotsbutton' %></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-6" id="profileimgdiv">
            <%= image_tag @user.avatar.url(:large),:class => 'profileimage'  %>
        </div>
        <div class="col-sm-6 col-md-6" id="profileinfodiv">
            <div id="profileinfobox">
                <h2> <%= @user.username %> </h2>
                <p> motto: <%= @user.motto %> </p>
                <p> ride style: </p>
                <p> board:  </p>
                <p style="margin-bottom: 20px"> about me: </p>
                <a id="userspotsbutton" data-toggle="modal" data-target="#spotModal"> my spots </a>
                <% if current_user == @user %>
                    <a id="useruploadbutton" data-toggle="modal" data-target="#imageModal"> upload photo </a>
                <% end %>
            </div>
        </div>
    </div>
</div>

<div class="images container">
      <div class="row">
        <div class="col-sm-4 col-md-4">
          <%= image_tag 'four.jpg',:class => 'img-responsive' %>
        </div>
        <div class="col-sm-4 col-md-4">
            <%= image_tag 'one.jpg',:class => 'img-responsive' %>
        </div>
        <div class="col-sm-4 col-md-4">
            <%= image_tag 'seven.jpg',:class => 'img-responsive' %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4 col-md-4">
            <%= image_tag 'forest.jpg',:class => 'img-responsive' %>
        </div>
        <div class="col-sm-4 col-md-4">
            <%= image_tag 'five.jpg',:class => 'img-responsive' %>
        </div>
        <div class="col-sm-4 col-md-4">
            <%= image_tag 'person.jpg',:class => 'img-responsive' %>
        </div>
      </div>
</div>

<!-- reference -->

<div class="images container">
  <% if current_user == @user %>
    
  <% end %>
  <% @user.posts.each do |post| %>
      <%= image_tag post.image.url(:medium) %>
  <% end %>
</div>

<%= render 'users/spots_modal' %>
<%= render 'users/add_image_modal' %>
