<!-- header --> 

<div class="profileheadercontainer">
    <div class="profilenav">
        <div class="row">
            <div class="col-md-12">
                <ul>
                    <li><%= link_to ' home', root_path, id: 'homebutton' %></li>
                    <li><%= link_to ' map', spots_path, id: 'spotsbutton' %></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-5" id="profileimgdiv">
            <%= image_tag @user.avatar.url(:large),:class => 'profileimage'  %>
        </div>
        <div class="col-sm-6 col-md-7" id="profileinfodiv">
            <div id="profileinfobox">
                <h2> <%= @user.username %> </h2>
                <p> motto: <%= @user.motto %> </p>
                <p style="margin-bottom: 60px"> about me </p>
                <a id="userspotsbutton" data-toggle="modal" data-target="#spotModal"> my spots </a>
            </div>
        </div>
    </div>
</div>

<!-- reference -->

<div class="images container">
    <h1> Photos </h1>
  <% if current_user == @user %>
    <div data-toggle="modal" data-target="#imageModal" style="cursor: pointer;">
        <%= image_tag 'add.jpg',:class => 'img-responsive',:id => 'addimg' %>
    </div>
  <% end %>
  <% @user.posts.each do |post| %>
      <%= image_tag post.image.url(:medium) %>
  <% end %>
</div>

<%= render 'users/spots_modal' %>
<%= render 'users/add_image_modal' %>
