<!-- header --> 

<div class="profileheader">
    <h2> Hi! </h2>
    <%= image_tag 'me.jpg',:class => 'profileimg'  %>
    <h1> Alec Sheridan </h1>
    <p> never stay complacent. </p>
</div>
<div class="supporting">
    <ul>
        <li><span class="glyphicon glyphicon-send" aria-hidden="true" style="font-size: 3em;"></span></li>
        <li><span class="glyphicon glyphicon-user" aria-hidden="true" style="font-size: 3em;"></span></li>
        <li><span class="glyphicon glyphicon-map-marker" aria-hidden="true" style="font-size: 3em;"></span></li>
    </ul>
</div>

<!--

<span class="glyphicon glyphicon-send" aria-hidden="true" style="text-align:right;font-size: 3em;color: #6E6B62;"></span>
<span class="glyphicon glyphicon-user" aria-hidden="true" style="text-align:center;font-size: 3em;color: #6E6B62;"></span>
<span class="glyphicon glyphicon-map-marker" aria-hidden="true" style="text-align: left;font-size: 3em;color: #6E6B62;"></span> -->

Username: <%= @user.username %>
<br>
Email: <%= @user.email %>
<br>
Last sign in at: <%= @user.last_sign_in_at %>
<br>
<% if @user.locations.any? %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>
          Title
        </th>
        <th>
          Description
        </th>
        <th>
          Difficulty
        </th>
        <th>
          Lat
        </th>
        <th>
          Long
        </th>
      </tr>
    </thead>
    <tbody>
    <% @user.locations.each do |location| %>
      <tr>
        <td>
          <%= location.title %>
        </td>
        <td>
          <%= location.description %>
        </td>
        <td>
          <%= location.difficulty %>
        </td>
        <td>
          <%= location.latitude %>
        </td>
        <td>
          <%= location.longitude %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
