<!-- header --> 
<div class="profileheader">
    <%= link_to ' Home ', root_path %>
    <%= image_tag 'me.jpg',:class => 'profileimg'  %>
    <h1> <%= @user.username %> </h1>
    <p> never stay complacent. </p>
</div>
<div class="supporting">
    <ul>
        <li><span class="glyphicon glyphicon-send" aria-hidden="true" style="font-size: 3em;" id="one"></span></li>
        <li><span class="glyphicon glyphicon-user" aria-hidden="true" style="font-size: 3em;" id="two"></span></li>
        <li><span class="glyphicon glyphicon-map-marker" aria-hidden="true" style="font-size: 3em;" data-toggle="modal" data-target="#spotModal" id="three"></span></li>
    </ul>
</div>
<div class="images">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-md-4" data-toggle="modal" data-target="#imageModal">
                <%= image_tag 'add.jpg',:class => 'img-responsive',:id => 'addimg' %>
            </div>
            <div class="col-sm-4 col-md-4">
                <%= image_tag 'two.jpg',:class => 'img-responsive'  %>
            </div>
            <div class="col-sm-4 col-md-4">
                <%= image_tag 'three.jpg',:class => 'img-responsive'  %>
            </div>
        </div>
            
        <div class="row">
            <div class="col-sm-4 col-md-4">
                <%= image_tag 'four.jpg',:class => 'img-responsive'  %>
            </div>
            <div class="col-sm-4 col-md-4">
                <%= image_tag 'five.jpg',:class => 'img-responsive'  %>
            </div>
            <div class="col-sm-4 col-md-4">
                <%= image_tag 'six.jpg',:class => 'img-responsive'  %>
            </div>
        </div>
            
        <div class="row">
            <div class="col-sm-4 col-md-4">
                <%= image_tag 'seven.jpg',:class => 'img-responsive'  %>
            </div>
            <div class="col-sm-4 col-md-4">
                <%= image_tag 'person.jpg',:class => 'img-responsive'  %>
            </div>
            <div class="col-sm-4 col-md-4">
            </div> 
        </div>
    </div>
</div>

<!-- Spots Modal -->
<div class="modal fade" id="spotModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><%= @user.username %>'s Spots</h4>
      </div>
      <div class="modal-body">
        <% if @user.spots.any? %>
          <% @user.spots.each do |spot| %>
            <ul>
              <li>
                <%= spot.title %>
              </li>
              <li>
                <%= spot.difficulty %>
              </li>
              <li>
                <%= link_to 'View', spots_path(id: spot.id) %>
              </li>
            </ul>
          <% end %>
          <% else %>
            No spots for this user
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- add image modal -->
<div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Upload</h4>
      </div>
      <div class="modal-body">
        <label class="control-label">Select File</label>
        <input id="input-1" type="file" class="file">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
