
<meta name="viewport" content="width=device-width, initial-scale=1">

<style type="text/css">
  

/* ----------- mobile view ----------- */


@media only screen and (max-width: 568px) {

  #title {
    text-align: right;
    color: #24313A;
  }

  .greetingbox {
    height: 340px;
    background-size: cover;
    background-repeat: no-repeat;
  }

  #mapiconmobile {
    display: inherit;
    height: 130px;
    width: 150px;
    background-color: #4C3636;
    text-align: center;
    line-height: 130px;
    cursor: pointer;
    color: #FFF;
  }

  #mapiconmobile:hover {
    background-color: #FFF;
    color: #000;
  }

  #mapicondesktop {
    display: none;
  }

  #myMap {
    height: 410px;
  }

  .mapmenudivon {
    display: inherit;
    margin-top: 335px;
  }

  #mapmenu { 
    position: relative;
    margin: 0; 
    padding: 0; 
    white-space:nowrap;
    list-style: none;
    display: flex;
  }

  .mapmenuitem { 
    margin: 0; 
    padding: 0;
    display: inline-block;
    border-style: thin solid #000;
    height: 75px;
    width: 25%;
    color: #FFF;
    text-align: center;
    line-height: 75px;
  }

  #heading {
    display: none;
  }

  #starbutton {
    display: none;
  }

  #helpbutton {
    display: none;
  }

}

@media only screen and (min-width: 568px) and (max-width: 850px) {
  #mapmenu {

  }
}  

@media only screen and (min-width: 568px) {
   
  #mobilenavbutton {
    display: none;
  }

  #mobilenavdiv {
    display: none;
  }

}  

</style>

<body onload="GetMap();" oncontextmenu="return false">

  <p id="notice"><%= notice %></p>
  

    <div class="mymapoff" id='myMap'>
  
      <div class="mapmenudivoff"> 
        <ul id="mapmenu">
          <li class="mapmenuitem" style="background-color: #332424; color:#FFF;" id="tripsbutton">trips</li> 
          <li class="mapmenuitem" style="background-color: #4C3636;"> ? </li>
          <li class="mapmenuitem" style="background-color: #4C4C4C;" id="findmebutton">locate</li> 
          <li class="mapmenuitem" style="background-color: #353636;" id="starbutton">star</li>
          <li class="mapmenuitem" style="background-color: #243333;" id="helpbutton"> ? </li>
          <li class="mapmenuitem" style="background-color: #F53433;" id="closebutton"> x </li>
        </ul>
      </div>
    </div>

    <div id="titlediv"> <h2 id="title"> bomb hills </h2> </div>
    <div id="mobilenavbutton"> nav </div> <div id="titledivtwo"></div>
    <div id="mobilenavdiv">
      <ul>
        <li>login</li>
        <li>reviews</li>
        <li>contact</li>
        <li id="mobilenavclose">close</li>
      </ul>
    </div>
    <div class="greetingbox">
      <div class="imgcontainer">
        <p  style="text-align: center; color: #FFF; padding: 25px;" id="heading"> lets... </p>
        <p id="mapiconmobile" class="pinimage"> map button </p>
        <p id="mapicondesktop" class="pinimage"> start </p>
      </div>
    </div>
  
    <% for location in @locations %>
      <div class="data-locations" data-latitude=<%= location.latitude %> data-longitude=<%= location.longitude %> data-username=<%= location.username %> data-title=<%= location.title %> data-description=<%= location.description %> ></div>
    <% end %>

    <div id="trips">

    </div>

    <div id="footer">

    </div>
    
</body>
