<body onload="GetMap();">

  <p id="notice"><%= notice %></p>
  

    <div class="mymapoff" id='myMap'>
      <div class="addformoff">
        <form action="action_page.php">
            firdcord:<br>
            <input type="text" name="firdcord" value="firdcord">
            <br>
            secondcord:<br>
            <input type="text" name="secondcord" value="secondcord">
            <br><br>
            <input type="submit" value="Submit">
        </form> 
      </div>
      <ul id="maplist">
        <li id="maplistitemone">add</li>
        <li id="maplistitemtwo"> </li>
        <li id="maplistitemthree"> X </li>
      </ul>
    </div>

    <div class="greetingbox">
      <div class="imgcontainer">
        <%= image_tag "mapicon.png", class: "mapicon", id: "pinimage" %>
      </div>
    </div>

    <div class="navdiv">
    </div>
  
    <% for location in @locations %>
      <div class="data-locations" data-latitude=<%= location.latitude %> data-longitude=<%= location.longitude %> data-username=<%= location.username %> data-title=<%= location.title %> data-description=<%= location.description %> ></div>
    <% end %>

    <div class="featuredcontent">
    <p> 
    </div>
    <div class="footer">
    </div>
    
</body>
