<body onload="GetMap();">
  <p id="notice"><%= notice %></p>

    <video autoplay class="bgvid" loop poster="video3000kpbs.jpg">
      <source src="<%= video_path 'video3000kpbs.webm' %>" type="video/webm">
      <source src="<%= video_path 'video3000kpbs.mp4' %>" type="video/mp4">
      <source src="<%= video_path 'video3000kpbs.ogv' %>" type="video/ogv">
    </video>

    
    <div class="mapbox">
        <div class="controlsoff">
            <ul class="controlslist">
              <li id="findmebutton" class="button">
                <%= image_tag "locateicon.png" %>
              </li>

              <li id="addspotbutton" class="button">
                <%= image_tag "addicon.png" %>
              </li>

              <li id="closemapbutton" class="button">
                <%= image_tag "closeicon.png" %>
              </li>
            </ul>
        </div>
		<div class="mymapoff" id='myMap'>
        </div>
    </div>

    <div class="greetingbox">
    	<h1> BOMB HILLS </h1>
    </div>

    <div class="wrapper">
    	<p class="openmap" id="pinimage"> find a spot </p>
        <div class="infoone" id="colorone">
        </div>
        <div class="infotwo" id="colorone">
        </div>
        <div class="infothree" id="colorone">
        </div>
        <div class="infofour" id="colorone">
        </div>
        <div class="infofive" id="colortwo">
        	<h2> about us </h2>
        </div>
        <div class="infosix" id="colorone">
        </div>
    </div>
    <%= form_for Location.new, url: {controller: "locations", action: "create"} do |f| %>
      <%= f.label :latitude %>
      <%= f.text_field :latitude%>
      <%= f.label :longitude%>
      <%= f.text_field :longitude %>
      <%= f.label :title%>
      <%= f.text_field :title %>
      <%= f.label :username %>
      <%= f.text_field :username %>
      <%= f.label :description%>
      <%= f.text_area :description, size: "30x5"%>
      <%= f.submit "Create location" %>
    <% end %>
    <% for location in @locations %>
      <div class="data-locations" data-latitude=<%= location.latitude %> data-longitude=<%= location.longitude %> data-username=<%= location.username %> data-title=<%= location.title %> data-description=<%= location.description %> ></div>
    <% end %>
    <div class="featuredcontent">
		<p> 
    </div>
    <div class="footer">
    </div>
    
</body>
