
<meta name="viewport" content="width=device-width, initial-scale=1">

<style type="text/css">
  

/* ----------- mobile view ----------- */


@media only screen and (max-width: 568px) {

  #title {
    text-align: center;
  }

  .greetingbox {
    height: 400px;
  }

  #myMap {
    height: 400px;
  }

  #mapmenu { 
    margin: 0; 
    padding: 0; 
    white-space:nowrap;
    list-style: none;
    display: flex;
  }

  .mapmenuitem { 
    margin: 0; 
    padding: 0;
    display: inline-block;
    border-style: thin solid #000;
    height: 75px;
    width: 25%;
    color: #FFF;
    text-align: center;
    line-height: 75px;
  }

  .addformon {
    height: 400px;
    width: 100%;
    margin: 0;
  }

  .formtext {
    margin: -10px; /*need to fix, not sure where this extra 10px is coming from */
    padding: 0;
    margin-left: 10%;
    font-size: 25px;
  }

  input {
    width: 80%;
    background-color: #013440;
    border-style: none;
    border-bottom-style: solid;
    margin-bottom: 25px;
    margin-left: 10%;
    margin-right: 10%;
  }

  input[type="text"] {
    color: #FFF;
  }

  input[type="submit"] {
    width: 30%;
    background-color: #FFF;
  }

  .mapicon {
    height: 150px;
    width: 175px;
  }

}

@media only screen and (min-width: 568px) and (max-width: 850px) {
  #mapmenu {
    margin-left: 10%;
    margin-right: 10%;
  }
}  

</style>

<body onload="GetMap();" oncontextmenu="return false">

  <p id="notice"><%= notice %></p>
  

    <div class="mymapoff" id='myMap'>
      <div class="addformoff">
        <form action="action_page.php">
            <p class="formtext">title:</p> <br>
            <input type="text" name="title" value=" ">
            <br>
            <p class="formtext">difficulty:</p> <br>    
            <input type="text" name="difficulty" value=" ">
            <br>
            <p class="formtext">description:</p> <br>    
            <input type="text" name="description" value=" ">
            <br>
            <input type="submit" value="next">
        </form> 
      </div>
      <div class="mapmenudivoff"> 
        <ul id="mapmenu">
          <li class="mapmenuitem" style="background-color: #002F2F; color:#FFF;" id="tripsbutton">trips</li>
          <li class="mapmenuitem" style="background-color: #046380;">?</li>
          <li class="mapmenuitem" style="background-color: #A7A37E;" id="findmebutton">locate</li>
          <li class="mapmenuitem" style="background-color: #AB1A25;" id="closebutton">close</li>
        </ul>
      </div>
    </div>

    <div id="titlediv"> <h2 id="title"> bomb hills </h2> </div>
    <div class="greetingbox">
      <div class="imgcontainer">
        <p style="background-color: #FFF; padding: 40px;" id="pinimage">insert map icon click me</p>
        <! --- <%= image_tag "mapicon.png", class: "mapicon", id: "pinimage" %>
      </div>
    </div>

    <div class="navdiv">

    </div>
  
    <% for location in @locations %>
      <div class="data-locations" data-latitude=<%= location.latitude %> data-longitude=<%= location.longitude %> data-username=<%= location.username %> data-title=<%= location.title %> data-description=<%= location.description %> ></div>
    <% end %>

    <div class="footer">

    </div>
    
</body>
