
<div class="header" id="header">
    <div class="navigation">
        <ul class="nav nav-pills pull-right">
          <li role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
              Profile <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" style="margin: 10px;">
                
                <% if user_signed_in? %>  
                
                <li><%= link_to ' profile ', show_user_path(current_user.username), :class => 'none' %></li>
                <li><%= link_to ' settings ', edit_user_registration_path, :class => 'none' %></li>
                <li><%= link_to " logout ", destroy_user_session_path, method: :delete, :class => 'none'  %></li>
                
                <% else %>
                    
                <li><%= link_to " register ", new_user_registration_path, :class => 'none'  %></li>
                <li><%= link_to " login ", new_user_session_path, :class => 'none'  %></li>
                <% end %>
            
            </ul>
          </li>
          <li role="presentation"><a href="#">Contact</a></li>
        </ul>
    </div>
    <div class="content">
        <h1> bombhills </h1>
        <%= link_to ' Launch ', locations_path, :class => 'none' %>
    </div>
    <div class="find">
        <form class="form-inline" id="form">
          <div class="form-group">
            <input id="search" class="form-control" placeholder="or search for a specific location">
          </div>
          <button type="submit" class="btn btn-default" id="searchbutton">Search</button>
        </form>
    </div>
</div>

<!-- display -->
<div class="display">
  <div class="container">
    <div class="col-xs-12 col-sm-8 col-md-8">
      <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.  </p>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4" id="explorecol">
        <%= image_tag 'explore.png',:id => 'exploreimg'  %>
    </div>
  </div>
</div>


<!-- user content -->
<div class="usercontent">
  <%= link_to 'user content', user_content_path %> 
</div>

<!-- footer -->
<div class="footer">
  <div class="container">
    <div class="col-sm-4 col-md-4">
    </div>
    <div class="col-sm-4 col-md-4">
        <h1> contact us </h1>
        <ul>
          <li>e-mail</li>
          <li>carrier pigeon</li>
          <li>railway</li>
        </ul>
    </div>
    <div class="col-sm-4 col-md-4">
        <h1> social media </h1>
        <ul>
          <li>twitter </li>
          <li>isntagram</li>
          <li>facebook</li>
        </ul>
    </div>
  </div>
</div>


<%# keep for reference %>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<% if user_signed_in? %>
    Logged in as <strong><%= current_user.email %> | <%= current_user.username %></strong>.
    <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
    <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
  <% else %>
    <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
    <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
  <% end %>
