
<meta name="viewport" content="width=device-width, initial-scale=1">

<style type="text/css">
  

/* ----------- mobile view ----------- */


@media only screen and (max-width: 568px) {

  #title {
    text-align: right;
    color: #24313A;
  }

  .greetingbox {
    height: 340px;
  }

  #mapiconmobile {
    display: inherit;
    height: 120px;
    width: 140px;
    background-color: #046380;
    text-align: center;
    line-height: 120px;
    cursor: pointer;
    color: #FFF;
  }

  #mapicondesktop {
    display: none;
  }

  #myMap {
    height: 410px;
  }

  .mapmenudivon {
    display: inherit;
    margin-top: 335px;
  }

  #mapmenu { 
    margin: 0; 
    padding: 0; 
    white-space:nowrap;
    list-style: none;
    display: flex;
  }

  .mapmenuitem { 
    margin: 0; 
    padding: 0;
    display: inline-block;
    border-style: thin solid #000;
    height: 75px;
    width: 25%;
    color: #FFF;
    text-align: center;
    line-height: 75px;
  }

  #closebutton {
    width: 25%;
  }

  #content {
    background-color: #FFF;
  }

  #heading {
    display: none;
  }

}

@media only screen and (min-width: 568px) and (max-width: 850px) {
  #mapmenu {
    margin-left: 15%;
    margin-right: 10%;
  }
}  

@media only screen and (min-width: 568px) {
   
  #mobilenavbutton {
    display: none;
  }

  #mobilenavdiv {
    display: none;
  }

}  

</style>

<body onload="GetMap();" oncontextmenu="return false">

  <p id="notice"><%= notice %></p>
  

    <div class="mymapoff" id='myMap'>
      <div class="mapmenudivoff"> 
        <ul id="mapmenu">
          <li class="mapmenuitem" style="background-color: #046380; color:#FFF;" id="tripsbutton">trips</li> 
          <li class="mapmenuitem" style="background-color: #403E30;"> </li>
          <li class="mapmenuitem" style="background-color: #A7A37E;" id="findmebutton">locate</li>
          <li class="mapmenuitem" style="background-color: #AB1A25;" id="closebutton">close</li>
        </ul>
      </div>
    </div>

    <div id="titlediv"> <h2 id="title"> bomb hills </h2> </div>
    <div id="mobilenavbutton"> nav </div> <div id="titledivtwo"></div>
    <div id="mobilenavdiv">
      <ul>
        <li>login</li>
        <li>reviews</li>
        <li>contact</li>
        <li id="mobilenavclose">close</li>
      </ul>
    </div>
    <div class="greetingbox">
      <div class="imgcontainer">
        <p  style="text-align: center; color: #FFF; padding: 25px;" id="heading"> motivational text </p>
        <p id="mapiconmobile" class="pinimage"> map button </p>
        <p id="mapicondesktop" class="pinimage"> start </p>
         <!--<%= image_tag "mapicon.jpg", class: "mapicon", id: "pinimage" %>-->
      </div>
    </div>

    <div id="content">

    </div>
  
    <% for location in @locations %>
      <div class="data-locations" data-latitude=<%= location.latitude %> data-longitude=<%= location.longitude %> data-username=<%= location.username %> data-title=<%= location.title %> data-description=<%= location.description %> ></div>
    <% end %>

    <div class="footer">

    </div>
    
</body>
