

<style type="text/css">
  

/* ----------- mobile view ----------- */


@media only screen and (max-width: 568px) {

  #myMap {
    height: 420px;
  }

  .jumbotron {
    height: 350px;
  }


  .mapmenudivon {
    display: inherit;
    margin-top: 345px;
  }

  #mapmenu { 
    position: relative;
    margin: 0; 
    padding: 0; 
    white-space:nowrap;
    list-style: none;
    display: flex;
  }

  .mapmenuitem { 
    margin: 0; 
    padding: 0;
    display: inline-block;
    border-style: thin solid #000;
    height: 75px;
    width: 25%;
    color: #FFF;
    text-align: center;
    line-height: 75px;
  }

  #starbutton {
    display: none;
  }

  #helpbutton {
    display: none;
  }

}

@media only screen and (min-width: 568px) {
   
  #mobilenavbutton {
    display: none;
  }

  #mobilenavdiv {
    display: none;
  }

}  

</style>

<body onload="GetMap();" oncontextmenu="return false">

  <p id="notice"><%= notice %></p>

        <div class="mymapoff" id='myMap'>
      
          <div class="mapmenudivoff"> 
            <ul id="mapmenu">
              <li class="mapmenuitem" style="background-color: #3E3420; color:#FFF;" id="tripsbutton"> 
                <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
              </li> 
              <li class="mapmenuitem" style="background-color: #332B1A;" id="addbutton" data-toggle="modal" data-target="#myModal">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
              </li>
              <li class="mapmenuitem" style="background-color: #7D6941;" id="findmebutton">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
              </li> 
              <li class="mapmenuitem" style="background-color: #BD9E62;" id="starbutton">
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              </li>
              <li class="mapmenuitem" style="background-color: #F53433;" id="closebutton">
                <span class=" glyphicon glyphicon-remove" aria-hidden="true"></span>
              </li>
            </ul>
          </div>
        </div>

        <div id="mobilenavbutton"> 
         <span class="glyphicon glyphicon-th" aria-hidden="true"></span> 
        </div> 
        <div id="titledivtwo"> </div>
        <div id="mobilenavdiv">
          <ul>
            <li>login</li>
            <li>reviews</li>
            <li>contact</li>
            <li id="mobilenavclose">close</li>
          </ul>
        </div>

        <div style="background-color: #3E3420; color: #FFF;" class="jumbotron">
          <h1>Hello, world!</h1>
          <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
          <p><a class="btn btn-primary btn-lg" href="#" role="button" style="color: #FFF;" id="mapbutton">get started</a></p>
        </div>

        <!-- Modal -->
        <div id="myModal" class="modal fade" role="dialog">
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">New Location</h4>
              </div>
              <div class="modal-body">
                <form class="form-horizontal">
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Title</label>
                    <div class="col-sm-10">
                      <input type="title" class="form-control" id="inputEmail3" placeholder="Title Here">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Difficulty</label>
                    <div class="col-sm-10">
                      <select class="form-control" id="difficultydropdown">
                        <option>Starter</option>
                        <option>Intermediate</option>
                        <option>Professional</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Description</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" rows="3" id="descriptionarea"></textarea>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                      <button type="submit" class="btn btn-default">Submit</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>

          </div>
        </div>


  
    <% for location in @locations %>
      <div class="data-locations" data-latitude=<%= location.latitude %> data-longitude=<%= location.longitude %> data-username=<%= location.username %> data-title=<%= location.title %> data-description=<%= location.description %> ></div>
    <% end %>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js"></script>
    
</body>
