<body onload="GetMap();">

  <p id="notice"><%= notice %></p>
  

    <div class="mymapoff" id='myMap'>
      <div class="addformoff">
        <form action="action_page.php">
            x coordinate:      title: <br>
            <input type="text" name="firdcord" value="x">
            <input type="text" name="title" value="title">
            <br>
            y coordinate:       username: <br>
            <input type="text" name="secondcord" value="y">
            <input type="text" name="username" value="your name">
            <br><br>
            <input type="submit" value="Submit">
        </form> 
      </div>
      <ul id="maplist">
        <li id="maplistitemone">add</li>
        <li id="maplistitemtwo"> search.. </li>
        <li id="findmebutton"> find me </li>
        <li id="maplistitemthree"> X </li>
      </ul>
    </div>

    <div id="titlediv"> <h2> bomb hills </h2> </div>
    <div class="greetingbox">
      <div class="imgcontainer">
        <%= image_tag "mapicon.png", class: "mapicon", id: "pinimage" %>
      </div>
    </div>

    <div class="navdiv">
      <h1> explore more </h1>
      <ul class="navlist">
        <li class="navitem" id="trips">trips</li>
        <li class="navitem" id="reviews">reviews</li>
        <li class="navitem" id="aboutus">about us</li>
      </ul> 
    </div>
  
    <% for location in @locations %>
      <div class="data-locations" data-latitude=<%= location.latitude %> data-longitude=<%= location.longitude %> data-username=<%= location.username %> data-title=<%= location.title %> data-description=<%= location.description %> ></div>
    <% end %>

    <div class="featuredcontent">
    
    </div>
    <div class="footer">
      <ul class="socialtext">
          <li class="socialtextitem">instagram</li>

          <li class="socialtextitem">twitter</li>

          <li class="socialtextitem">facebook</li>
      </ul>
    </div>
    
</body>
