
<meta name="viewport" content="width=device-width, initial-scale=1">

<style type="text/css">
  
/* =========== MEDIA QUERIES ============== */

/* =========== Google Chrome Desktop ============== */  

@media screen and (-webkit-min-device-pixel-ratio:0) {


}

/* ----------- mobile view ----------- */


@media only screen and (max-device-width: 568px) {

  #title {
    text-align: center;
  }

  .greetingbox {
    height: 400px;
  }

  #myMap {
    height: 400px;
  }

  #mapmenu { 
    margin: 0; 
    padding: 0; 
    white-space:nowrap;
    list-style: none;
    display: flex;
  }

  .mapmenuitem { 
    margin: 0; 
    padding: 0;
    display: inline-block;
    border-style: thin solid #000;
    height: 75px;
    width: 25%;
    color: #FFF;
    text-align: center;
    line-height: 75px;
  }

}

</style>

<body onload="GetMap();">

  <p id="notice"><%= notice %></p>
  

    <div class="mymapoff" id='myMap'>
      <div class="addformoff">
        <form action="action_page.php">
            x coordinate:      title: <br>
            <input type="text" name="firdcord" value="x">
            <input type="text" name="title" value="title">
            <br>
            y coordinate:       username: <br>
            <input type="text" name="secondcord" value="y">
            <input type="text" name="username" value="your name">
            <br><br>
            <input type="submit" value="Submit">
        </form> 
      </div>

    </div>

    <div id="titlediv"> <h2 id="title"> bomb hills </h2> </div>
    <div class="greetingbox">
      <div class="imgcontainer">
        <%= image_tag "mapicon.png", class: "mapicon", id: "pinimage" %>
      </div>
    </div>

    <div class="mapmenudivoff"> 
      <ul id="mapmenu">
        <li class="mapmenuitem" style="background-color: #002635;">trips</li>
        <li class="mapmenuitem" style="background-color: #013440;">?</li>
        <li class="mapmenuitem" style="background-color: #D97925;" id="findmebutton">locate</li>
        <li class="mapmenuitem" style="background-color: #AB1A25;" id="closebutton">close</li>
      </ul>
    </div>

    <div class="navdiv">

    </div>
  
    <% for location in @locations %>
      <div class="data-locations" data-latitude=<%= location.latitude %> data-longitude=<%= location.longitude %> data-username=<%= location.username %> data-title=<%= location.title %> data-description=<%= location.description %> ></div>
    <% end %>

    <div class="footer">

    </div>
    
</body>
