<%= render 'layouts/navbar' %>
<div class="user-posts">
  <h1> DISCOVER </h1>
  <div class="container" id="posts-container">
    <% @posts.each_slice(3) do |posts| %>
      <div class="row">
        <% posts.each do |post| %>
          <div class="col-sm-4 col-md-4" id="thumbnail-container">
            <div class="thumbnail">
              <% if post.type == "ImagePost" %>
                <%= image_tag post.image.url(:medium) %>
              <% else %>
                <%= embed post.video_url %>
              <% end %>
              <div class="caption">
                <%= link_to post_path(post) do %>
                  <h3><%= post.title %></h3>
                <% end %>
                <p><%= post.description %></p>
                <p>
                  <%= link_to 'User', show_user_path(post.user.username), :class => 'btn btn-primary', id: 'user-btn' %>
                  <% if post.spot %>
                    <%= link_to 'Find', spots_path(id: post.spot.id), class: 'btn btn-default' %>
                  <% end %>
                </p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
