<div class="userposts">

  <%= render 'layouts/navbar' %>

  <h1> DISCOVER </h1>

  <div class="container" id="postscontainer">
    <div class="row">

      <% @posts.each do |post| %>
        <div class="col-sm-4 col-md-4" id="thumbnailcontainer">
          <div class="thumbnail">
            <%= image_tag post.image.url(:medium) %>
            <div class="caption">
              <h3><%= post.title %></h3>
              <p><%= post.description %></p>
              <p>
                <%= link_to 'User', show_user_path(post.user.username), :class => 'btn btn-primary', id: 'userbutton' %>
                <% if post.spot %>
                  <%= link_to 'Find', spots_path(id: post.spot.id), class: 'btn btn-default' %>
                <% end %>
              </p>
            </div>
          </div>
        </div>
      <% end %>

    </div>
  </div>
</div>
