<% title @post.title.upcase %>
<%= render 'layouts/navbar' %>

<div class="container post-container">
  <div class="post-info col-xs-12 col-sm-8 col-md-8 col-sm-offset-2 col-md-offset-2">
    <% if @post.type == 'ImagePost' %>
      <div class="image">
        <%= image_tag @post.image, class: 'img-responsive' %>
      </div>
    <% else %>
      <div class="video">
        <%= embed @post.video_url %>
      </div>
    <% end %>

    <h1>
      <%= @post.title.upcase %>
    </h1>

    <p>
      <%= @post.description %>
    </p>

    <div class="extra-info">
      <ul>
        <li>
          <p>
            <mark>Uploaded:</mark>
            <%= @post.created_at.strftime("%B %d, %Y") %>
          </p>
        </li>
        <li>
          <p>
            <div class="label-space">
              <mark>Uploaded By:</mark> <%= @post.user.username %>
            </div>
            <%= link_to image_tag(@post.user.avatar.url(:thumb), class: 'message-avatar'), show_user_path(@post.user.username), class: 'user-avatar' %>
          </p>
        </li>
      </ul>

      <% unless @post.spot.nil? %>
        <p>
          <div class="label-space">
            <mark>Location:</mark>
          </div>
          <%= link_to 'Spot', spot_path(@post.spot) %>
        </p>
      <% end %>
    </div>

    <div class="comments-container">
      <h3>Comments</h3>
      <%= react_component('Comments', { resource: JSON.parse(render(template: 'posts/show.json.jbuilder')), commentableType: 'Post', currentUser: current_user }) %>
    </div>

    <% if can_edit(current_user, @post) %>
      <%= link_to 'Edit', edit_post_path(@post) %>
    <% end %>
    <%= link_to 'Back', posts_path, class: 'profile-back-btn' %>
  </div>
</div>
