<div class="navdiv">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to ' bombhills', root_path, :class => 'navbar-brand', :style => 'margin-top: 2px;color: #233E47;font-weight: 800;' %>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <form class="navbar-form navbar-left" role="search" action="<%= spots_path %>" method+"get">
          <div class="form-group">
            <%= text_field_tag :search, params[:search], id: "navbarsearch", class: "form-control", placeholder: "Search..." %>
          </div>
          <button type="submit" class="btn btn-default" id="navsearchbutton">Go</button>
        </form>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to 'Discover', posts_path %></li>
          <li><%= link_to ' Map ', spots_path %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">User <span class="caret"></span></a>
            <ul class="dropdown-menu">

              <% if user_signed_in? %>  

                <li><%= link_to ' profile ', show_user_path(current_user.username), :class => 'none' %></li>
                <li><%= link_to ' edit profile ', edit_user_registration_path, :class => 'none' %></li>
                <li>
                <%= link_to mailbox_inbox_path do %>
                  inbox
                  <% if unread_messages_count > 0 %>
                    <span class="label label-danger"><%=unread_messages_count%></span>
                  <% end %>
                <% end %>
              </li>
                <li><%= link_to " logout ", destroy_user_session_path, method: :delete, :class => 'none'  %></li>

              <% else %>

                <li><%= link_to " register ", new_user_registration_path, :class => 'none'  %></li>
                <li><%= link_to " login ", new_user_session_path, :class => 'none'  %></li>

              <% end %>

            </ul>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
</div>
